{% extends "layout.html" %}

{% block content %}
<div>
{% if contact %}
<h3>Edit {{ contact.firstLast }}</h3>
{% else %}
<h3>Add a new user</h3>
{% endif %}
  <hr>
  {% if contact %}
  <form method="POST" action="/contacts/edit/{{contact.id}}">
  {% else %}
  <form method="POST" action="/contacts/edit">
  {% endif %}
  
    
    
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input name="firstName" type="text" value = "{{ contact.firstName }}" class="form-control"/>
        </div>
        <label for="middleName" class="col-sm-2 control-label">Middle Name</label>
        <div class="col-sm-10">
          <input name="middleName" type="text" value = "{{ contact.middleName }}" class="form-control"/>
        </div>
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input name="lastName" type="text" value = "{{ contact.lastName }}" class="form-control"/>
        </div>
        <label for="email" class="col-sm-2 control-label">Email Address</label>
        <div class="col-sm-10">
          <input name="email" type="text" value = "" class="form-control"/><select>
            {% for type in types %}
            <option value="{{type.id}}">{{type.name}}</option>
            {% endfor %}
          </select>
        </div>
        <label for="dateOfBirth" class="col-sm-2 control-label">Date of Birth</label>
        <div class="col-sm-10">
            <input name="dateOfBirth" type="date" value = "{{ contact.dateOfBirth }}" class="form-control"/>
        </div>
    </div>
    

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  
  </form>
</div>
{% endblock %}