{% extends "layout.html" %}

{% block content %}
<div>
{% if contact %}
<h3>Edit {{ contact.firstLast }}</h3>
{% else %}
<h3>Add a new user</h3>
{% endif %}
  <hr>
  {% if contact %}
  <form method="POST" action="/contacts/edit/{{contact.id}}">
  {% else %}
  <form method="POST" action="/contacts/edit">
  {% endif %}
  
    
    
    <div class="form-group">
        <div class="contact-input">
          <label for="firstName" class="contact-input">First Name</label>
          <input name="firstName" type="text" value = "{{ contact.firstName }}" class="contact-input"/>
        </div>
        <div class="contact-input">
            <label for="middleName" class="contact-input">Middle Name</label>
          <input name="middleName" type="text" value = "{{ contact.middleName }}" class="contact-input"/>
        </div>
        <div class="contact-input">
            <label for="lastName" class="contact-input">Last Name</label>
          <input name="lastName" type="text" value = "{{ contact.lastName }}" class="contact-input"/>
        </div>
        <div class="contact-input">
            <label for="email" class="contact-input">Email Address</label>
          <div class="type-option">
            <input name="email" type="text" value = "{% if email %}{{email}}{% endif %}" class="contact-input"/>
            <select class="contact-input">
              {% for type in types %}
              <option name="emailType" value="{{type.id}}">{{type.name}}</option>
              {% endfor %}
            </select>
          </div>  
        </div>
        <div class="contact-input">
            <label for="dateOfBirth" class="contact-input">Date of Birth</label>
            <input name="dateOfBirth" type="date" value = "{{ contact.dateOfBirth }}" class="contact-input"/>
        </div>
    </div>
    

    <div class="col-sm-offset-2 contact-input">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  
  </form>
</div>
{% endblock %}