body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  margin-top:10px;
}

.col-sm-10 {
  margin-top:10px;
}

.type-option {
  display: flex;
  flex: 5;
}
div.form-group {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

div.contact-input {
  display: flex;
  flex-direction: row;
  flex-basis: 40px;
  margin: 5px 0 5px 0;
  
}

label.contact-input {
  flex: 1;
}

input.contact-input {
  flex: 5;
  border: solid 1px black;
  padding: 2px;
  border-radius: 4px;
  
}

select.contact-input {
  flex: 1;
  border: solid 1px black;
  padding: 2px;
  border-radius: 4px;
  
}

.contactHeader {
  display: flex;
  justify-content: left; 
  align-items: center;
}

.contactHeader h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.contactHeader a {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px 10px;
}